cod3rbr/meat-app-template-master/.gitignore
cod3rbr/meat-app-template-master/about.html
cod3rbr/meat-app-template-master/detail-restaurant-reviews.html
cod3rbr/meat-app-template-master/detail-restaurant.html
cod3rbr/meat-app-template-master/index.html
cod3rbr/meat-app-template-master/login.html
cod3rbr/meat-app-template-master/main-restaurants.html
cod3rbr/meat-app-template-master/not-found.html
cod3rbr/meat-app-template-master/order-summary.html
cod3rbr/meat-app-template-master/order.html
cod3rbr/meat-app-template-master/README.md
cod3rbr/meat-app-template-master/user-snippet.html
cod3rbr/meat-app-template-master/assets/css/AdminLTE.css
cod3rbr/meat-app-template-master/assets/css/AdminLTE.min.css
cod3rbr/meat-app-template-master/assets/css/meat.css
cod3rbr/meat-app-template-master/assets/css/skins/_all-skins.css
cod3rbr/meat-app-template-master/assets/css/skins/_all-skins.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-black-light.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-black-light.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-black.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-black.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-blue-light.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-blue-light.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-blue.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-blue.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-green-light.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-green-light.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-green.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-green.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-purple-light.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-purple-light.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-purple.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-purple.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-red-light.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-red-light.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-red.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-red.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-yellow-light.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-yellow-light.min.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-yellow.css
cod3rbr/meat-app-template-master/assets/css/skins/skin-yellow.min.css
cod3rbr/meat-app-template-master/assets/img/404.png
cod3rbr/meat-app-template-master/assets/img/credit/american-express.png
cod3rbr/meat-app-template-master/assets/img/credit/cirrus.png
cod3rbr/meat-app-template-master/assets/img/credit/mastercard.png
cod3rbr/meat-app-template-master/assets/img/credit/mestro.png
cod3rbr/meat-app-template-master/assets/img/credit/paypal.png
cod3rbr/meat-app-template-master/assets/img/credit/paypal2.png
cod3rbr/meat-app-template-master/assets/img/credit/visa.png
cod3rbr/meat-app-template-master/assets/img/foods/bread.png
cod3rbr/meat-app-template-master/assets/img/foods/burger.png
cod3rbr/meat-app-template-master/assets/img/foods/cake.png
cod3rbr/meat-app-template-master/assets/img/foods/capp.png
cod3rbr/meat-app-template-master/assets/img/foods/ceasar.png
cod3rbr/meat-app-template-master/assets/img/foods/chocpop.png
cod3rbr/meat-app-template-master/assets/img/foods/coke.png
cod3rbr/meat-app-template-master/assets/img/foods/croissant.png
cod3rbr/meat-app-template-master/assets/img/foods/cup.png
cod3rbr/meat-app-template-master/assets/img/foods/cupcake.png
cod3rbr/meat-app-template-master/assets/img/foods/donut.png
cod3rbr/meat-app-template-master/assets/img/foods/espreso.png
cod3rbr/meat-app-template-master/assets/img/foods/fries.png
cod3rbr/meat-app-template-master/assets/img/foods/greensandwich.png
cod3rbr/meat-app-template-master/assets/img/foods/icestd.png
cod3rbr/meat-app-template-master/assets/img/foods/starb.png
cod3rbr/meat-app-template-master/assets/img/foods/straw.png
cod3rbr/meat-app-template-master/assets/img/foods/sunday.png
cod3rbr/meat-app-template-master/assets/img/foods/zlasagna.png
cod3rbr/meat-app-template-master/assets/img/reactions/loved.png
cod3rbr/meat-app-template-master/assets/img/reactions/pissed.png
cod3rbr/meat-app-template-master/assets/img/reactions/soso.png
cod3rbr/meat-app-template-master/assets/img/restaurants/breadbakery.png
cod3rbr/meat-app-template-master/assets/img/restaurants/burgerhouse.png
cod3rbr/meat-app-template-master/assets/img/restaurants/coffeecorner.png
cod3rbr/meat-app-template-master/assets/img/restaurants/cupcake.png
cod3rbr/meat-app-template-master/assets/img/restaurants/greenfood.png
cod3rbr/meat-app-template-master/assets/img/restaurants/hotcoffee.png
cod3rbr/meat-app-template-master/assets/img/restaurants/icy.png
cod3rbr/meat-app-template-master/assets/img/restaurants/tasty.png
cod3rbr/meat-app-template-master/assets/js/app.js
cod3rbr/meat-app-template-master/assets/js/app.min.js
cod3rbr/meat-app-template-master/assets/js/demo.js
cod3rbr/meat-app-template-master/assets/js/pages/dashboard.js
cod3rbr/meat-app-template-master/assets/js/pages/dashboard2.js
cod3rbr/meat-app-template-master/bootstrap/css/bootstrap.css
cod3rbr/meat-app-template-master/bootstrap/css/bootstrap.css.map
cod3rbr/meat-app-template-master/bootstrap/css/bootstrap.min.css
cod3rbr/meat-app-template-master/bootstrap/css/bootstrap.min.css.map
cod3rbr/meat-app-template-master/bootstrap/fonts/glyphicons-halflings-regular.eot
cod3rbr/meat-app-template-master/bootstrap/fonts/glyphicons-halflings-regular.svg
cod3rbr/meat-app-template-master/bootstrap/fonts/glyphicons-halflings-regular.ttf
cod3rbr/meat-app-template-master/bootstrap/fonts/glyphicons-halflings-regular.woff
cod3rbr/meat-app-template-master/bootstrap/fonts/glyphicons-halflings-regular.woff2
cod3rbr/meat-app-template-master/bootstrap/js/bootstrap.js
cod3rbr/meat-app-template-master/bootstrap/js/bootstrap.min.js
cod3rbr/meat-app-template-master/bootstrap/js/npm.js
cod3rbr/meat-app-template-master/plugins/fastclick/fastclick.js
cod3rbr/meat-app-template-master/plugins/fastclick/fastclick.min.js
cod3rbr/meat-app-template-master/plugins/iCheck/all.css
cod3rbr/meat-app-template-master/plugins/iCheck/icheck.js
cod3rbr/meat-app-template-master/plugins/iCheck/icheck.min.js
cod3rbr/meat-app-template-master/plugins/iCheck/flat/_all.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/aero.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/aero.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/aero@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/blue.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/blue.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/blue@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/flat.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/flat.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/flat@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/green.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/green.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/green@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/grey.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/grey.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/grey@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/orange.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/orange.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/orange@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/pink.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/pink.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/pink@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/purple.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/purple.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/purple@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/red.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/red.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/red@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/yellow.css
cod3rbr/meat-app-template-master/plugins/iCheck/flat/yellow.png
cod3rbr/meat-app-template-master/plugins/iCheck/flat/yellow@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/futurico/futurico.css
cod3rbr/meat-app-template-master/plugins/iCheck/futurico/futurico.png
cod3rbr/meat-app-template-master/plugins/iCheck/futurico/futurico@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/line/_all.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/aero.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/blue.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/green.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/grey.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/line.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/line.png
cod3rbr/meat-app-template-master/plugins/iCheck/line/line@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/line/orange.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/pink.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/purple.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/red.css
cod3rbr/meat-app-template-master/plugins/iCheck/line/yellow.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/_all.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/aero.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/aero.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/aero@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/blue.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/blue.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/blue@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/green.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/green.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/green@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/grey.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/grey.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/grey@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/minimal.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/minimal.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/minimal@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/orange.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/orange.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/orange@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/pink.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/pink.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/pink@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/purple.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/purple.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/purple@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/red.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/red.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/red@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/yellow.css
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/yellow.png
cod3rbr/meat-app-template-master/plugins/iCheck/minimal/yellow@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/polaris/polaris.css
cod3rbr/meat-app-template-master/plugins/iCheck/polaris/polaris.png
cod3rbr/meat-app-template-master/plugins/iCheck/polaris/polaris@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/_all.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/aero.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/aero.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/aero@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/blue.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/blue.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/blue@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/green.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/green.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/green@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/grey.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/grey.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/grey@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/orange.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/orange.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/orange@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/pink.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/pink.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/pink@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/purple.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/purple.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/purple@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/red.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/red.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/red@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/square.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/square.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/square@2x.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/yellow.css
cod3rbr/meat-app-template-master/plugins/iCheck/square/yellow.png
cod3rbr/meat-app-template-master/plugins/iCheck/square/yellow@2x.png
cod3rbr/meat-app-template-master/plugins/jQuery/jquery-2.2.3.min.js
cod3rbr/meat-app-template-master/plugins/jQueryUI/jquery-ui.js
cod3rbr/meat-app-template-master/plugins/jQueryUI/jquery-ui.min.js
cod3rbr/meat-app-template-master/plugins/pace/pace.css
cod3rbr/meat-app-template-master/plugins/pace/pace.js
cod3rbr/meat-app-template-master/plugins/pace/pace.min.css
cod3rbr/meat-app-template-master/plugins/pace/pace.min.js
cod3rbr/meat-app-template-master/plugins/slimScroll/jquery.slimscroll.js
cod3rbr/meat-app-template-master/plugins/slimScroll/jquery.slimscroll.min.js
